.song {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;

    .song-desc {
        padding: 1rem;
    }

    img {
        width: 20%;
    }

    &:hover {
        background-color: rgb(148, 182, 194);
    }
}